<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand">Monitoring App</a>
      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navigation">

          <ul class="navbar-nav">
              <li class="nav-item">
                  <button mat-icon-button (click)="logout()">
                      <mat-icon>logout</mat-icon>
                    </button>
              </li>
          </ul>
      </div>
  </div>
</nav>
