<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-10">
          <div class="card card-chart">
              <div class="card-header card-header">
                  <div class="ct-chart" id="websiteViewsChart"></div>
              </div>
              <div class="card-body">
                  <h4 class="card-title">Clicks graph</h4>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">access_time</i> Last 24 hours
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>
