<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6" *ngIf="isAdmin">
          <button mat-raised-button (click)="addOfferDialog()" class="btn btn-primary btn_valid">Add offer</button>
        </div>
      <div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Offers List</h4>
            <p class="card-category"> You can check proper links associated with each offer </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Name
                  </th>
                  <th>
                    Link
                  </th>
                  <th>
                    Unsub
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor='let offer of offers'>
                    <td>
                      {{offer.name}}
                    </td>
                    <td>
                      {{offer.link}}
                    </td>
                    <td>
                      {{offer.unsub}}
                    </td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" (click)="showLinks(offer)"  matTooltip="Show links" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">launch</i>
                      </button>
                      <button *ngIf="isAdmin" mat-raised-button type="button" (click)="deleteUser(offer.id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                      </button>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
